name: lint code

on:
  push:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
    - uses: actions/setup-node@v4
      with:
        node-version: 20
    - name: install
      run: npm i
    - name: lint
      run: npm run lint
